html {
    font-size: 18px;
    }
  
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: white;
    color: #383838;
    line-height: 1.4;
  }
  
  .container {
    max-width: 1050px;
    margin: auto;
  }
  
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  }
  
  h1{
    font-size: 2rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.25rem;
    color: #383838;
    font-weight: 600;
    line-height: 1.45rem;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  h6 {
    font-size: 1.10rem;
    color: #383838;
    font-weight: 500;
  }
  
  p {
    font-weight: 400;
    font-size: .8rem;
    line-height: 1.1rem;
    color: gray;
  }
  
  span {
    font-size: .75rem;
    color: #383838;
    line-height: .95rem;
  }
  
  
  /* navigation bar section */
  header {
    background-color: white;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 2.75rem;
    padding-left: 24px;
  }
  
  .Colmar {
    font-size: 1.2rem;
    font-weight: 700;
  }
  
  .Academy {
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
  }
  
  nav {
    text-align: right;
    font-weight: bold;
    flex-grow: 1;
  }
  
  .desktop a {
    display: inline-block;
    padding-right: 16px;
    color: #383838;
    font-size: 1rem;
    font-weight: 400px;
    cursor: auto;
    text-decoration: none;
  }
  
  .desktop a:hover {
    color: #808080;
  }
  
  .desktop a:active {
    color: #808080;
  }
  
  nav.mobile {
    display: none;
  }
  
  @media only screen and (max-width: 480px) {
    nav.desktop {
      display: none;
    }
  
    .logo {
      display: none;
    }
  
    nav.mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 24px;
      padding-left: 24px;
    }
  }
  
  
  /* Main Banner Section */
  .main-banner {
    background-color: #DCDCDC;
  }
  
  .main-banner .container {
    display:inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 32px;
  }
  
  .left-section {
    flex-basis: 60%;
    padding: 24px 24px 24px 0px;
  }
  
  .left-section img {
    width: 100%;
  }
  
  .right-section {
    width: 440px;
  }
  
  .tagline {
    height: auto;
    padding-left: 20px;
    margin-right: 60px;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .tagline h4 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  
  .tagline a {
    background-color: #383838;
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
  }
  
  .tagline a:hover {
    background-color: #808080;
  }
  
  .tagline a:active {
    background-color: #808080;
  }
  
  @media only screen and (max-width: 800px) {
    .main-banner .container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
    }
  
    .main-banner .left-section {
      width: 100%;
      padding: 0px 0px;
    }
  
    .right-section {
      width: 100%;
    }
  
    .tagline {
      margin: 32px 24px;
      padding-left: 0px;
      align-items: center;
    }
  
    .tagline a {
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .tagline a {
      width: 100%;
      background-color: #808080;
    }
  
    .tagline a:hover {
      opacity: .7;
    }
  
    .tagline a:active {
      opacity: .7;
    }
  }
  
  
  /* Keep Practicing Section */
  .practice {
    display: flex;
    justify-content: space-between;
  }
  
  .left-section h2 {
    padding-top: 32px;
  }
  
  .left-section p {
    padding: 24px 24px 24px 0px;
    width: 60%;
  }
  
  .content {
    padding: 16px 1px 16px 0px;
    width: 100%;
  }
  
  .content p {
    padding-top: 8px;
  }
  
  .content a {
    color: #4ba3f4;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding-top: .9rem;
  }
  
  .content a:hover {
    color: #9dcdf9;
    text-decoration: underline;
  }
  
  .content a:active {
    color: #9dcdf9;
    text-decoration: underline;
  }
  
  .practice .right-section {
    border-left: 1px solid #DCDCDC;
    padding: 16px 0px 32px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .box img.desktop {
    width: 35%;
    padding: 16px;
  }
  
  .box img.mobile {
    display: none;
  }
  
  .second-info {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
  }
  
  .lecture {
    background-color: #DCDCDC;
  }
  
  @media only screen and (max-width: 480px) {
    .practice .left-section {
      display: none;
    }
  
    .practice .right-section {
      border-left: 0px;
      padding: 16px 16px 32px 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
  
    .lecture {
      background-color: white;
    }
  
    .second-info {
      border-top: 0px;
      border-bottom: 0px;
      margin: 16px 0px;
    }
  
    .box {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
    }
  
    .box img.desktop {
      display: none;
    }
  
    .box img.mobile {
      display: flex;
      width: 100%;
    }
  
    .content {
      padding: 0px;
      width: 100%;
      margin-top: 16px;
    }
  
  






